.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  height: 100px;
  width: 90%;
  margin: auto;
  max-width: 1200px;
  padding: 5px;
  display: flex;
  justify-content: space-between;

  align-items: center;

}

.logo{
  display: flex;
  gap:10px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  align-items: center;
}

.instructions{
  margin-top: 50px;
  height:110px;
  display: flex;
  justify-content: center;
  width: 600px;
  margin: auto;
  font-size: 30px;
  font-weight: 600;
  color: black;
  text-align: center;
  line-height: 50px;
  font-size: 40px;
  background-color: lightblue;
  padding: 20px;
  border-radius: 20px;
}


.sc-kTvvXX {
  background-color: #202c37 !important;
  width: 40vw !important;
  height: 450px;
}

.list{
  width:90%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 150px;
  row-gap: 50px;
  margin-top: 70px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
